{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 160,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
	"importOrder": ["^(.*)((heroicons-svelte)|(ui)|(\\.svelte))$", "((^svelte)|(^(.*)\\$types))$"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
